.home {
    /* height: 800px; */
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content:space-evenly; */
}

.profile-image {
    width: 200px;
    border-radius: 50%;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

.home-info {
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
}

.home-name-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.home-name-info {
    font-size: 1rem;
}

.home-dev-title {
    font-size: 2rem;
    font-weight: 600;
}